In [1]:
import pandas as pd

In [29]:
enc_chr = pd.read_csv('enc_chromosomes.txt', header=None)
enc_chr.columns = ['chr']

enc_chr.head()
enc_chr['new_chr'] = enc_chr['chr'].tolist()
enc_chr['suff'] = ''

inds = enc_chr.loc[enc_chr.chr.str.contains('_')].index
enc_chr.loc[inds, 'new_chr'] = enc_chr.loc[inds].new_chr.str.split('_', expand=True)[1]
enc_chr.loc[inds, 'new_chr'] = enc_chr.loc[inds].new_chr.str.split('v', expand=True)[0]
enc_chr.loc[inds, 'suff'] = enc_chr.loc[inds].chr.str.split('v', expand=True)[1].str.split('_', expand=True)[0]

enc_chr.loc[inds, 'new_chr'] = enc_chr.loc[inds, 'new_chr']+'.'+enc_chr.loc[inds, 'suff']
enc_chr.head()

                       chr     new_chr suff
0                     chr1        chr1
1                    chr10       chr10
2                    chr11       chr11
3  chr11_KI270721v1_random  KI270721.1    1
4                    chr12       chr12

In [30]:
ch = pd.read_csv('chromosomes.txt', header=None)
ch.columns = ['chr']
ch.head()

          chr
0  ERCC-00002
1  ERCC-00003
2  ERCC-00004
3  ERCC-00009
4  ERCC-00012

In [31]:
enc_chr.loc[~enc_chr.new_chr.isin(ch.chr.unique().tolist())]

       chr new_chr suff
31  chrEBV  chrEBV

In [21]:
ch.loc[ch.chr.str.contains('GL000195')]

           chr
95  GL000195.1

In [16]:
ch.loc[ch.chr.str.startswith('K'), 'chr'].str.split('.', expand=True)[1].unique()

array(['1'], dtype=object)

In [ ]:
enc_chr.to_csv('rename_chrom.tsv', sep='\t')