In [1]:
import plotnine as p9
import pandas as pd

In [4]:
f = '../data/map/mapq_0_bool_summary.tsv'

In [7]:
df = pd.read_csv(f, sep='\t')
df['cell_line_id'] = df.dataset.str.split('_', expand=True)[0]
df.head()

,t2t,afr,hg38,n_reads,total_reads,perc,sample,dataset,cell_line_id
0,False,False,False,72434,10570840,0.685225,GM19117_1,GM19117_1,GM19117
1,False,False,True,42620,10570840,0.403185,GM19117_1,GM19117_1,GM19117
2,False,True,False,3326,10570840,0.031464,GM19117_1,GM19117_1,GM19117
3,False,True,True,16124,10570840,0.152533,GM19117_1,GM19117_1,GM19117
4,True,False,False,37029,10570840,0.350294,GM19117_1,GM19117_1,GM19117