In [5]:
import pandas as pd
import numpy as np
import scipy.stats as st
import seaborn as sns
import sys
import os
import matplotlib.pyplot as plt
import swan_vis as swan
import yaml
from snakemake.io import expand
import cerberus
import pyranges as pr
import upsetplot

p = os.path.dirname(os.getcwd())
sys.path.append(p)

from scripts.utils import *
from scripts.vcf_utils import *
from scripts.plotting import *
from scripts.sm_utils import *

In [6]:
config = load_config()
od = '../'

def proc_cfg(entry, od):
    entry = entry.replace('../../', '')
    entry = od+entry
    return entry

In [16]:
meta_file = '../snakemake/config.tsv'
df = parse_config(meta_file)

In [21]:
files = expand(proc_cfg(config['lr']['fastq_n_reads_summary'],od))[0]
files

'../data/fastq_n_reads.txt'

In [25]:
df = pd.read_csv(files, sep='\t')

In [26]:
df.head()

     dataset   n_reads
0  GM19117_1  11170456
1  GM19129_1  11204924
2  GM19240_1  16624559
3  GM18542_1  24763584
4  GM18561_1  14224097