## Goal: get SNPs both CLOSE to SJs (exonic, +- 10 bp) and within SSs themselves; only for annotated SJs

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import seaborn as sns
import sys
import os
import matplotlib.pyplot as plt
import swan_vis as swan
import yaml
from snakemake.io import expand
import cerberus
import pyranges as pr
import upsetplot

p = os.path.dirname(os.getcwd())
sys.path.append(p)

from scripts.utils import *
from scripts.vcf_utils import *
from scripts.plotting import *

In [6]:
config = load_config()
od = '../../'

def proc_cfg(entry, od):
    entry = entry.replace('../../', '')
    entry = od+entry
    return entry

In [ ]:
gtf_file = proc_cfg(config['ref']['gtf'], od)

In [11]:
# read in ref. gtf and get SJs from there
df = pr.read_gtf(gtf_file)

# get the introns
df = df.features.introns()
df = df.df
df.head()

+------------+--------+------------+--------+--------+---+---+---+-------------------+--------+-----------------+---+--------+-------------------+--------+-----------------+-----+-------------------+-----+
| Chromosome
(category)            | Source
(object)        | Feature
(object)            |        Start
(int64) |        End
(int64) | Score
(object)   | Strand
(category)   | Frame
(object)   | gene_id
(object)                   | gene_type
(object)        | gene_name
(object)                 |   level
(object) | tag
(object)        | transcript_id
(object)                   | transcript_type
(object)        | transcript_name
(object)                 |     exon_number
(object) | exon_id
(object)                   | +8
...     |
|------------+--------+------------+--------+--------+---+---+---+-------------------+--------+-----------------+---+--------+-------------------+--------+-----------------+-----+-------------------+-----|
| GL000008.2 | HAVANA | gene       |  83331 | 200303 | . | + | . | ENSG00000296732.1 | lncRNA | ENSG00000296732 | 2 | nan    | nan               | nan    | nan             | nan | nan               | ... |
| GL000008.2 | HAVANA | transcript |  83331 | 200303 | . | + | . | ENSG00000296732.1 | lncRNA | ENSG00000296732 | 2 | TAGENE | ENST00000741402.1 | lncRNA | ENST00000741402 | nan | nan               | ... |
| GL000008.2 | HAVANA | exon       |  83331 |  83545 | . | + | . | ENSG00000296732.1 | lncRNA | ENSG00000296732 | 2 | TAGENE | ENST00000741402.1 | lncRNA | ENST00000741402 |   1 | ENSE00004078666.1 | ... |
| GL000008.2 | HAVANA | exon       |  85566 |  85625 | . | + | . | ENSG00000296732.1 | lncRNA | ENSG00000296732 | 2 | TAGENE | ENST00000741402.1 | lncRNA | ENST00000741402 |   2 | ENSE00004078618.1 | ... |
| GL000008.2 | HAVANA | exon       | 199427 | 200303 | . | + | . | ENSG00000296732.1 | lncRNA | ENSG00000296732 | 2 | TAGENE | ENST00000741402.1 | lncRNA | ENST00000741402 |   3 | ENSE00004078645.1 | ... |
| GL000008.2 | HAVANA | transcript |  83332 | 130626 | . | + | . | ENSG00000296732.1 | lncRNA | ENSG00000296732 | 2 | TAGENE | ENST00000741435.1 | lncRNA | ENST00000741435 | nan | nan               | ... |
| GL000008.2 | HAVANA | exon       |  83332 |  83545 | . | + | . | ENSG00000296732.1 | lncRNA | ENSG00000296732 | 2 | TAGENE | ENST00000741435.1 | lncRNA | ENST00000741435 |   1 | ENSE00004078614.1 | ... |
| GL000008.2 | HAVANA | exon       |  85566 |  85625 | . | + | . | ENSG00000296732.1 | lncRNA | ENSG00000296732 | 2 | TAGENE | ENST00000741435.1 | lncRNA | ENST00000741435 |   2 | ENSE00004078618.1 | ... |
+------------+--------+------------+--------+--------+---+---+---+-------------------+--------+-----------------+---+--------+-------------------+--------+-----------------+-----+-------------------+-----+
Stranded PyRanges object has 8 rows and 26 columns from 1 chromosomes.
For printing, the PyRanges was sorted on Chromosome and Strand.
8 hidden columns: transcript_support_level, havana_transcript, hgnc_id, havana_gene, ont, protein_id, ccdsid, artif_dupl

AttributeError: 'function' object has no attribute 'df'